---
title: Surf Tracking Recorder
description: Micro device that records all your waves and surfing action.
canonical: /device
---


<div class="container">
    <div class="row spaced">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">


            <img class="img-responsive center-block"
                 alt="device compared to penny"
                {{{responsiveImage '/images/scad/SCAD_three_quarter_view_with_penny.png' 12 8}}}
                    />


            <!--<img class="img-responsive center-block"-->
            <!--alt="device compared to penny"-->
            <!--src="/images/scad/SCAD_three_quarter_view_with_penny-lg.png"-->
            <!--sizes="(max-width: 767px) 100vw,-->
            <!--(min-width: 1200px) 776px,-->
            <!--(min-width: 992px) 648px,-->
            <!--(min-width: 768px) 496px"-->
            <!--srcset="/images/scad/SCAD_three_quarter_view_with_penny-xs.png 100w,-->
            <!--/images/scad/SCAD_three_quarter_view_with_penny-sm.png 300w,-->
            <!--/images/scad/SCAD_three_quarter_view_with_penny-md.png 600w,-->
            <!--/images/scad/SCAD_three_quarter_view_with_penny-lg.png 900w,-->
            <!--/images/scad/SCAD_three_quarter_view_with_penny-xl.png 1200w"-->
            <!--/>-->
        </div>
    </div>

    <div class="row spaced">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>The Evolution.</h1>

            <p>The Red9 Evolution surf tracking device is that cumulation of
                years
                of development research and engineering effort. It's small, so
                it
                won't affect your surfing. It's highly accurate, so you get the
                best
                data. And best of all, it's built for the rigors of the surf
                environment.</p>
        </div>
    </div>

    <div class="row row-sm-flex-center spaced">
        <div class="col-sm-6">
            <div class="row spaced">
                <h4 class="text-center">Front</h4>
                <img class="img-responsive center-block"
                     alt="device front view"
                    {{{responsiveImage '/images/scad/SCAD_front_view.png' 12 6}}}
                        />
            </div>

            <div class="row spaced">
                <h4 class="text-center">Side</h4>
                <img class="img-responsive center-block"
                     alt="device side view"
                    {{{responsiveImage '/images/scad/SCAD_side_view.png' 12 6}}}/>
            </div>

            <div class="row spaced">
                <h4 class="text-center">Top</h4>
                <img class="img-responsive center-block"
                     alt="device top view"
                    {{{responsiveImage '/images/scad/SCAD_top_view.png' 12 6}}}/>
            </div>
        </div>


        <div class="col-sm-6">
            <h1 class="text-center">Core Sensors.</h1>

            <dl class="dl-horizontal">
                <dt>Accelerometer</dt>
                <dd>Precision measurements, 3 axis 16g sensor.</dd>

                <dt>Gyroscope</dt>
                <dd>Low drift, 3 axis rotation rate measurements.</dd>

                <dt>Digital Compass</dt>
                <dd>Highly sensitive to the earths magnetic field.</dd>

                <dt>GPS</dt>
                <dd>Dual GNSS satellite system, high update rate.</dd>

                <dt>Temperature</dt>
                <dd>Because we can.</dd>
            </dl>

            <h1 class="text-center">Specifications.</h1>
            <ul class=leaders>
                <li>
                    <span>Waterproof</span>
                    <span><abbr title="15m">50 feet</abbr></span>
                </li>
                <li>
                    <span>Battery Life</span><span>10 hours</span>
                </li>
                <li>
                    <span>Charge Time</span><span>1 hour</span>
                </li>
                <li>
                    <span>Transfer Time</span><span>60 seconds</span>
                </li>
                <li>
                    <span>Weight</span>
                    <span><abbr title="66 grams">2.3oz</abbr></span>
                </li>
                <li>
                    <span>Size</span><span><abbr title="7x7x1.25cm">2.8x2.8x0.5in</abbr></span>
                </li>
                <li>
                    <span>Maximum Acceleration</span><span>16g</span>
                </li>
                <li>
                    <span>Maximum Rotation Rate</span><span>2000&deg;/sec</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="row row-sm-flex-center spaced">
        <div class="col-sm-6">
            <img class="img-responsive img-rounded center-block"
                 alt="device wireless charger"
                {{{responsiveImage '/images/scad/scad_wireless_charging_square.jpg' 12 6}}}/>
        </div>
        <div class="col-sm-6">
            <h1>Wireless Charging.</h1>

            <p>We built our device to withstand the challeges of your life,
                and
                a rock solid charging system is key. Wireless charging will
                quickly and safely charge your device, with no chance of
                leaks
                or salt water corrosion.</p>
        </div>
    </div>

    <div class="row row-sm-flex-center spaced">
        <div class="col-sm-6">
            <h1>Semi-Permanent Mount.</h1>

            <p>We use an ultra high bond tape to fix the device to your board.
                The low profile gives you the absolute best hydrodynamics.</p>
        </div>

        <div class="col-sm-6">
            <img class="img-responsive center-block"
                 alt="device top view"
                {{{responsiveImage '/images/scad/SCAD_permanent_mount.png' 12 6}}}/>
        </div>
    </div>

    <div class="row row-sm-flex-center spaced">
        <div class="col-sm-6">
            <h1>Temporary Mount.</h1>

            <p>Move between boards alot? That's fine. Just put the 100%
                waterproof clear Dual Lock on each board, and switch the device
                as necessary.</p>
        </div>

        <div class="col-sm-6">
            <img class="img-responsive center-block"
                 alt="device top view"
                {{{responsiveImage '/images/scad/SCAD_temporary_mount.png' 12 6}}}/>
        </div>
    </div>


    <div class="row spaced">
        <div class="col-sm-6 col-sm-push-6">
            <h1>Built In Wi-Fi.</h1>

            <p>An effortless connection to your phone means that you don't have
                to worry about syncing data. Do more surfing, and let us take
                care of the tech. Built in Wi-Fi automatically synchronizes your
                data to your phone and the cloud.</p>

        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <img class="img-responsive center-block"
                 alt="device wireless connection animation"
                 src="/images/scad/SCAD_wireless_animated.gif"/>
        </div>
    </div>

    <div class="row spaced">
        <div class="col-xs-12 text-center">
            <h1>Cool. What do I do with it?</h1>
            <a href="/features#surfing" class="btn btn-rednine btn-lg">Go
                Surfing!</a>
        </div>
    </div>

</div>

