---
title: Red9 User Benefits and Techonolgy Details
description: Surfing technology meets data science and user first design.
js: features.js
---

<div class="container">
    <div class="wow fadeIn" id="device">
        <div class="row spaced">
            <div class="col-xs-12">
                <h1 class="text-center">The Device.</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <img class="img-responsive center-block"
                     alt="device top view"
                    {{{responsiveImage '/images/scad/SCAD_top_view.png' 12 4}}}/>
            </div>
        </div>

        <div class="row spaced">
            <div class="col-xs-12 text-center">
                <a href="/device" class="btn btn-rednine btn-lg">
                    Learn more about the device.
                </a>
            </div>
        </div>
    </div>

    <div class="row spaced" id="surfing">
        <div class="col-xs-6 col-xs-offset-3">
            <h1 class="text-center">The Surfing.</h1>

            <p>Use our device whenever you go surfing, and rack up the stats.
                It's simple to attach to any surfboard, and effortless to use.
                Unless you compete with Kelly Slater, you won't even notice it's
                there.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-padding">
            <img class="img-responsive img-rounded center-block wow fadeInLeft"
                 alt="device top view"
                {{{responsiveImage '/images/surf/Indo_TelosIslands_RailGrab_square.jpg' 6}}}/>
        </div>

        <div class="col-xs-6 col-padding">
            <img class="img-responsive img-rounded center-block wow fadeInRight"
                 alt="device top view"
                {{{responsiveImage '/images/surf/oahu_sitting_square.jpg' 6}}}/>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-6 col-padding">
            <img class="img-responsive img-rounded center-block wow fadeInLeft"
                 alt="device top view"
                {{{responsiveImage '/images/surf/girl_sitting_on_surfboard_square.jpg' 6}}}/>
        </div>

        <div class="col-xs-6 col-padding">
            <img class="img-responsive img-rounded center-block wow fadeInRight"
                 alt="device top view"
                {{{responsiveImage '/images/surf/longboard_surfer_square.jpg' 6}}}/>
        </div>
    </div>


    <div class="row spaced wow fadeIn" id="results">
        <div class="col-sm-offset-3 col-sm-6">
            <h1>The Results.</h1>

            <p>Track, compete, and learn with Red9's advanced data science
                algorithms and leading design.</p>
        </div>
    </div>

    <h1>Coming soon.</h1>
</div>