---
title: Red9 Surf Tracking Technology
description: Surfing technology that helps you have more fun on the water.
css: index.css
js: index.js
canonical: /
---

<div class="section landing">
    <div class="container-fluid">
        <div class="section-row row row-sm-flex-bottom">
            <div class="col-sm-5">

                <img class="img-responsive center-block"
                     alt="hand holding Red9 device"
                    {{{responsiveImage '/images/device_hand_no_background.png' 12 8}}}/>
            </div>
            <div class="col-sm-6  col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="banner justify-single-line">
                            EVERY MOVE COUNTS</h1>

                        <p class="text-justify">
                            With every stroke, every turn, every wave, Red9’s
                            multi-sensor device will revolutionize the way you
                            surf. Red9 has developed a data science platform
                            that
                            can help you improve your surfing, record your best
                            moments and share them with your friends. The more
                            people there are in the Red9 community, the more
                            features you will have at your fingertips. We need
                            your help: tell your friends and sign up today to
                            join the Red9 community for the latest updates. We
                            have an exciting announcement to make soon! Thank&nbsp;you!</p>

                        <p class="text-center">
                            <a class="btn btn-rednine btn-xs swipebox-video"
                               rel="vimeo"
                               href="http://vimeo.com/117357439">
                                <span class="fa fa-play fa-md"></span>&nbsp;
                                Watch the video
                            </a></p>
                    </div>
                </div>

                <div class="row spaced-short row-sm-flex-center">
                    <div class="col-xs-12 col-sm-2 col-sm-offset-1">
                        <img class="img-responsive center-block"
                             alt="Surfer with Red9 device icon"
                            {{{responsiveImage '/images/icon_surfer.png' 4}}}/>

                        <div class="caption">
                            <p>Set your device and go surf</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img class="img-responsive center-block hidden-xs"
                             alt="right arrow"
                            {{{responsiveImage '/images/arrow_straight.png' 12}}}/>

                        <img class="center-block visible-xs"
                             alt="down arrow" height="100px"
                             src="/images/down_arrow-xl.png"/>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <img class="img-responsive center-block"
                             alt="Red9 DSP icon"
                            {{{responsiveImage '/images/icon_r9dsp.png' 4}}}/>

                        <div class="caption">
                            <p>Analyze your data with Red9's Data Science
                                Platform</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img class="img-responsive center-block hidden-xs"
                             alt="right arrow"
                            {{{responsiveImage '/images/arrow_straight.png' 12}}}/>

                        <img class="center-block visible-xs"
                             alt="down arrow" height="100px"
                             src="/images/down_arrow-xl.png"/>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <img class="img-responsive center-block" id="phoneStep"
                             alt="Red9 iPhone app"
                            {{{responsiveImage '/images/iphone_app.png' 4}}}/>

                        <div class="caption">
                            <p>Visualize your sessions</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="text-center">CATCH MORE WAVES. HAVE MORE
                        FUN.</h3>
                </div>
                <div class="row imagecycle ">
                    <!-- Surfboard images -->
                    <div class="f1">
                        <img class="img-responsive"
                             alt="fishboard with Red9 device"
                            {{{responsiveImage '/images/surfboard_fishboard.png' 6}}}/>
                    </div>
                    <div class="f2">
                        <img class="img-responsive"
                             alt="shortboard with Red9 device"
                            {{{responsiveImage '/images/surfboard_shortboard.png' 6}}}/>
                    </div>
                    <div class="f3">
                        <img class="img-responsive"
                             alt="soft top board with Red9 device"
                            {{{responsiveImage '/images/surfboard_soft_top_board.png' 6}}}/>
                    </div>
                </div>

                <div class="row signup-form">
                    <div class="col-xs-12">
                        <h4 class="text-center">Sign up now and get the latest
                            <img class="ks-logo-inline"
                                 alt="Kickstarter logo"
                                 title="Kickstarter"
                                 src="/images/kickstarter-logo-light.png"/>
                            launch updates!</h4>
                        <h5 class="text-center">Be the first to know: there will
                            be a limited number of discounted devices!</h5>

                        <form action="//redninesensor.us10.list-manage.com/subscribe/post?u=8361dd61c85a958aac662c65e&amp;id=f9407d3fd9"
                              method="post" id="subscribe-form"
                              name="mc-embedded-subscribe-form"
                              class="form-inline"
                              target="_blank">

                            <input type="text" value="" name="FNAME"
                                   class="form-control" id="mce-FNAME"
                                   placeholder="First name">

                            <input type="text" value="" name="LNAME"
                                   class="form-control" id="mce-LNAME"
                                   placeholder="Last name">

                            <input type="email" value="" name="EMAIL"
                                   class="form-control"
                                   id="mce-EMAIL"
                                   placeholder="Email address"
                                   required>

                            <input type="submit" value="Subscribe"
                                   name="subscribe"
                                   id="mc-embedded-subscribe"
                                   class="btn btn-rednine">


                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;">
                                <label for="b_8361dd61c85a958aac662c65e_f9407d3fd9"
                                       class="sr-only">Real people should not
                                    fill this in.</label>
                                <input type="text"
                                       name="b_8361dd61c85a958aac662c65e_f9407d3fd9"
                                       tabindex="-1" value=""
                                       id="b_8361dd61c85a958aac662c65e_f9407d3fd9">
                            </div>

                        </form>

                        <div class="hidden" id="subscribe-form-complete">
                            <p class="text-center">Thanks for signing up. Check
                                out
                                our social media!</p>

                            <p class="text-center">
                                {{> social-icons}}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row spaced-short"></div>
            </div>
        </div>
    </div>
</div>
